* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form {
    padding: 16px 32px;
    min-width: 500px;
    min-height: 500px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
    text-align: center;
    margin-bottom: 15px;
}

.form-group + .form-group {
    margin-top: 10px;
}

.form-label {
    display: inline-block;
    width: 150px;
}

.form-control,
textarea#comment {
    padding: 2px;
    outline: none;
    border: 1px solid #ccc;
}

.form-control.required-input {
    background-color: yellow;
}

.form-control ~ .form-control {
    margin-left: 8px;
}

.form-message {
    display: none;
}

.form-group.invalid .form-control {
    border: 1px solid red;
}

.form-group.invalid .form-message {
    display: block;
    margin-left: 155px;
    color: red;
    font-size: 14px;
    padding: 8px 0;
}

.btns {
    margin: 15px 0 0 155px;
}

.notices {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
}
